<!--
    ioBroker.vis vis-flexcontrol Widget-Set

    version: "0.0.1"

    Copyright 2022 Buchi temp1@act4you.de
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/vis-flexcontrol/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/vis-flexcontrol/js/vis-flexcontrol.js"></script>

<!-- the full description of format in data-vis-attrs can be found here:
    https://github.com/ioBroker/ioBroker.vis/blob/master/www/js/visEditInspect.js#L39

    ----------------------------------------------------------
    Mandatory XML attributes:
        id="tplVis-flexcontrolWIDGETNAME"
        type="text/ejs"
        class="vis-tpl"

        "type" and "class" are always the same. "id" is unique and must start with "tplSETNAME" and ends with widget name. Use camel-case for it.

    ----------------------------------------------------------
    data-vis-attrs - divided with semicolon the list of attributes, like attr1/id;attr2/color
        Full format of one attribute is: attr_name(start-end)[default_value]/type,idFilter/onChangeFunc
            attr_name - the name of the attribute, e.g. "myID"
            start-end - creates automatically attributes from attr_namestart to attr_nameend, like "myID(1-3)" creates myID1, myID2, myID3
            default_value - by creation of widget this attribute will be filled with this value, e.g. "myID[#001122]/color"
            type - some predefined types have edit helpers, else it will be shown as text field

                Type format:
                      id - Object ID Dialog
                      checkbox
                      image - image
                      number,min,max,step - non-float number. min,max,step are optional
                      color - color picker
                      views - Name of the view
                      effect - jquery UI show/hide effects
                      eff_opt - additional option to effect slide (up, down, left, right)
                      fontName - Font name
                      slider,min,max,step - Default step is ((max - min) / 100)
                      select,value1,value2,... - dropdown select
                      nselect,value1,value2,... - same as select, but without translation of items
                      style,fileFilter,nameFilter,attrFilter
                      custom,functionName,options,... - custom editor - functionName is starting from vis.binds.[widgetset.funct]. E.g. custom/timeAndWeather.editWeather,short
                      group.name - define new or old group. All following attributes belongs to new group till new group.xyz
                      group.name/byindex - like group, but all following attributes will be grouped by ID. Like group.windows/byindex;slide(1-4)/id;slide_type(1-4)/select,open,closed  Following groups will be created Windows1(slide1,slide_type1), Windows2(slide2,slide_type2), Windows3(slide3,slide_type3), Windows4(slide4,slide_type4)
                      text - dialog box with html editor
                      html - dialog box with html editor

                If type is "id", you can define filer for "Select ID Dialog", like "myID/id,level.temperature".
                Additionally you can define callback(onChangeFunc), which will be called if this attribute was changed by user for different purposes: validate entry, fill other attributes, ...

        You can define additional data-vis-attrs line: data-vis-attrs0, data-vis-attrs1. Anyway data-vis-attrs must be there. You may not skip numbers.
        E.g. in "data-vis-attrs="A;" data-vis-attrs1="B" attribute B will be not parsed.

    --------------------------------------------------------
    data-vis-type
        Help information for user. Used for search.
        You can define more than one type divided by comma.
        There are following common types, but you can use your own specific types:
            ctrl   - widget that can write some Object IDs
            val    - widget that shows some information from Object IDs
            static - widget do not read information from Object IDs or URL
            button - button widget
            dimmer - dimmer widget
            weather - weather widget
            ...

    --------------------------------------------------------
    data-vis-set
        Name of the widget set. Must be equal to the name of this HTML file

    --------------------------------------------------------
    data-vis-prev
        Html code used as preview of this widget. If widget is complex you can just use image as preview:
        data-vis-prev='<img src="widgets/hqwidgets/img/prev/Prev_tplVis-flexcontrolShowInstance.png"></img>'
        Of course the image must exist.

    --------------------------------------------------------
    data-vis-name
        Readable name of widget shown in vis editor.

    --------------------------------------------------------
    data-vis-beta="true"
        Shows "BETA" symbol in vis editor by preview

    --------------------------------------------------------
    data-vis-update-style="true"
        Call redraw of widget if some of the CSS styles in editor for this widget was changed

    You can read about Magic tags here: http://canjs.com/guides/EJS.html
    Following magic tags are exist:
        <% %> - execute javascript
        <%= %> - place escaped result to HTML document
        <%== %> - place unescaped result to HTML document

    You can do "if" conditions and "for" cycles.

-->

<script language="javascript">
// add translations for edit mode
if (vis.editMode) {
    $.extend(true, systemDictionary, {
        /**
         * tplVis-flexcontrolShowInstance
         */
         "oidValIst":             {"en": "Actual Value",                "de": "Istwert",                           "ru": ""},
         "oidValSoll":            {"en": "Set Value",                   "de": "Sollwert",                          "ru": ""},
         "valEinheit":         {"en": "Unit",                        "de": "Einheit",                           "ru": ""},
         "valStep":            {"en": "Step",                        "de": "Step",                              "ru": ""},

         "group_header":       {"en": "Header",                      "de": "Überschrift",                       "ru": ""},
         "headerText":         {"en": "Text",                        "de": "Text",                              "ru": ""},
         "headerBgColor":      {"en": "Background Color",            "de": "Hintergrundfarbe",                  "ru": ""},
         "headerFgColor":      {"en": "Fore Color",                  "de": "Vordergrundfarbe",                  "ru": ""},
         "headerShadowColor":  {"en": "Shadow Color",                "de": "Schattenfarbe",                     "ru": ""},

         "group_onoff":        {"en": "On/Off",                      "de": "Ein/Aus",                           "ru": ""},
         "oidOnOff":           {"en": "Object ID",                   "de": "Objekt ID",                         "ru": ""},
         "imgOn":              {"en": "Image On",                    "de": "Bild Ein",                          "ru": ""},
         "imgOff":             {"en": "Image Off",                   "de": "Bild Aus",                          "ru": ""},

         "group_mode0":       {"en": "Mode[0]",                      "de": "Modus[0]",                          "ru": ""},
         "group_mode1":       {"en": "Mode[1]",                      "de": "Modus[1]",                          "ru": ""},
         "group_mode2":       {"en": "Mode[2]",                      "de": "Modus[2]",                          "ru": ""},
         "group_mode3":       {"en": "Mode[3]",                      "de": "Modus[3]",                          "ru": ""},
         "group_mode4":       {"en": "Mode[4]",                      "de": "Modus[4]",                          "ru": ""},
         "oidMode0":          {"en": "Object ID",                    "de": "Objekt ID",                         "ru": ""},
         "oidMode1":          {"en": "Object ID",                    "de": "Objekt ID",                         "ru": ""},
         "oidMode2":          {"en": "Object ID",                    "de": "Objekt ID",                         "ru": ""},
         "oidMode3":          {"en": "Object ID",                    "de": "Objekt ID",                         "ru": ""},
         "oidMode4":          {"en": "Object ID",                    "de": "Objekt ID",                         "ru": ""},
         "condMode0":         {"en": "Condition",                    "de": "Bedingung",                         "ru": ""},
         "condMode1":         {"en": "Condition",                    "de": "Bedingung",                         "ru": ""},
         "condMode2":         {"en": "Condition",                    "de": "Bedingung",                         "ru": ""},
         "condMode3":         {"en": "Condition",                    "de": "Bedingung",                         "ru": ""},
         "condMode4":         {"en": "Condition",                    "de": "Bedingung",                         "ru": ""},
         "valueMode0":        {"en": "Value Mode",                   "de": "Wert Modus",                        "ru": ""},
         "valueMode1":        {"en": "Value Mode",                   "de": "Wert Modus",                        "ru": ""},
         "valueMode2":        {"en": "Value Mode",                   "de": "Wert Modus",                        "ru": ""},
         "valueMode3":        {"en": "Value Mode",                   "de": "Wert Modus",                        "ru": ""},
         "valueMode4":        {"en": "Value Mode",                   "de": "Wert Modus",                        "ru": ""},
         "imgMode0On":        {"en": "Image Mode On",                "de": "Bild Modus Ein",                    "ru": ""},
         "imgMode1On":        {"en": "Image Mode On",                "de": "Bild Modus Ein",                    "ru": ""},
         "imgMode2On":        {"en": "Image Mode On",                "de": "Bild Modus Ein",                    "ru": ""},
         "imgMode3On":        {"en": "Image Mode On",                "de": "Bild Modus Ein",                    "ru": ""},
         "imgMode4On":        {"en": "Image Mode On",                "de": "Bild Modus Ein",                    "ru": ""},
         "imgMode0Off":       {"en": "Image Mode Off",               "de": "Bild Modus Aus",                    "ru": ""},
         "imgMode1Off":       {"en": "Image Mode Off",               "de": "Bild Modus Aus",                    "ru": ""},
         "imgMode2Off":       {"en": "Image Mode Off",               "de": "Bild Modus Aus",                    "ru": ""},
         "imgMode3Off":       {"en": "Image Mode Off",               "de": "Bild Modus Aus",                    "ru": ""},
         "imgMode4Off":       {"en": "Image Mode Off",               "de": "Bild Modus Aus",                    "ru": ""},

        });
}
</script>




<script id="tplVis-flexcontrolShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/vis-flexcontrol/img/vis-flexcontrol.png"></img>'
        data-vis-attrs="headerText;oidValIst/id;oidValSoll/id;valEinheit;valStep;"
        data-vis-attrs0="group.onoff;oidOnOff/id;imgOn/image;imgOff/image;"
        data-vis-attrs1="group.mode0;oidMode0/id;condMode0/nselect,,&gt;,&lt;,3,4,5;valueMode0/number;imgMode0On/image;imgMode0Off/image;"
        data-vis-attrs2="group.mode1;oidMode1/id;valueMode1/number;imgMode1On/image;imgMode1Off/image;"
        data-vis-attrs3="group.mode2;oidMode2/id;valueMode2/number;imgMode2On/image;imgMode2Off/image;"
        data-vis-attrs4="group.mode3;oidMode3/id;valueMode3/number;imgMode3On/image;imgMode3Off/image;"
        data-vis-attrs5="group.mode4;oidMode4/id;valueMode4/number;imgMode4On/image;imgMode4Off/image;"
        data-vis-set="vis-flexcontrol"
        data-vis-type="Control"
        data-vis-name="Flexible Control">
        <div class="vis-widget <%== this.data.attr('class') %>" style="width: 171px; height: 120px;" id="<%= this.data.attr('wid') %>">

            <!-- Hintergrund Header -->
            <div class="vis-widget vis-flexcontrol-control-header <%== this.data.attr('class') %>" style="background-color: black; overflow: visible; width: 170px; height: 30px; border: 1px solid rgb(136, 136, 136); left: 0px; top: 0px; z-index: 2;" id="<%= this.data.attr('wid') %>">
                <div style="width: 100%; height: 0px; background-color: black;">
                </div>
                <div style="position: absolute; top: 2px; left: 15px; color: black;"></div>
            </div>

            <!-- Überschrift -->
            <div class="vis-widget <%== this.data.attr('class') %>" style="top: 8px; left: 7px; width: 100px; height: 14px; color: rgb(255, 255, 255); z-index: 3; text-align: left; font-size: small;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <div data-oid="">
                        <%== this.data.attr('headerText') %>
                    </div>
                </div>
            </div>
            
            <!-- istWert -->
            <div class="vis-widget <%== this.data.attr('class') %>" style="top: 8px; left: 110px; width: 50px; height: 14px; color: rgb(255, 255, 255); z-index: 3; text-align: right; font-size: small; color: rgb(255, 255, 255);" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <div data-oid="<%== this.data.attr('oidValIst') %>">
                        <%== vis.states[this.data.attr('oidValIst') + '.val'] %> <%== this.data.attr('valEinheit') %>
                    </div>
                </div>
            </div>

            <!-- Hintergrund Hauptbereich -->
            <div class="vis-widget vis-flexcontrol-main <%== this.data.attr('class') %>" style="background-color: #333333; overflow: visible; width: 170px; height: 90px; border: 1px solid rgb(136, 136, 136); left: 0px; top: 30px; z-index: 1;" id="<%= this.data.attr('wid') %>">
                <div style="width: 100%; height: 0px; background-color: black;">
                </div>
                <div style="position: absolute; top: 2px; left: 15px; color: black;"></div>
            </div>
            
            <!-- Plus -->
            <div class="vis-widget vis-flexcontrol-button <%== this.data.attr('class') %>" style="width: 20px; height: 20px; position: absolute; left: 145px; top: 40px; z-index: 3; font-size: medium;" id="<%= this.data.attr('wid') %>" data-oid="javascript.0.Heizung.Wohnzimmer_Soll" data-vis-step="0.5" data-val="">
                <div class="vis-widget-body">
                    <img style="vertical-align: middle; height: 100%;" alt="">+
                </div>
            </div>
            
            <!-- Button Plus 
            <div class="vis-widget <%== this.data.attr('class') %>" style="width: 22px; height: 22px; left: 145px; top: 40px; background-color: rgb(255, 255, 255); opacity: 0.6; z-index: 3;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                </div>
            </div>-->
            
            <!-- Minus -->
            <div class="vis-widget vis-flexcontrol-button <%== this.data.attr('class') %>" style="width: 20px; height: 20px; position: absolute; left: 120px; top: 40px; z-index: 3; font-size: medium;" id="<%= this.data.attr('wid') %>" data-oid="javascript.0.Heizung.Wohnzimmer_Soll" data-vis-step="-0.5" data-val="">
                <div class="vis-widget-body">
                    <img style="vertical-align: middle; height: 100%;" alt="">-
                </div>
            </div>
    
            <!-- Button Minus 
            <div class="vis-widget <%== this.data.attr('class') %>" style="width: 22px; height: 22px; left: 120px; top: 40px; background-color: rgb(255, 255, 255); opacity: 0.6; z-index: 3;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                </div>
            </div>-->
            
            <!-- sollWert -->
            <div class="vis-widget <%== this.data.attr('class') %>" style="top: 44px; left: 40px; width: 74px; height: 16px; z-index: 3; text-align: right; font-size: medium; color: rgb(255, 255, 255);" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <div data-oid="<%== this.data.attr('oidValSoll') %>">
                        <%== vis.states[this.data.attr('oidValSoll') + '.val'] %> <%== this.data.attr('valEinheit') %>
                    </div>
                </div>
            </div>

            <!-- Ein / Aus -->
            <div data-oid="sonoff.0.Fussbodenheizung1.POWER1" class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="width: 30px; height: 30px; left: 7px; top: 40px; z-index: 2;" data-read-only="" data-min="" data-max="" data-url-true="" data-url-false="" data-oid-true="" data-oid-false="" data-oid-true-value="" data-oid-false-value="">
                <div class="vis-widget-body">
                        <img src="<%== this.data.attr('imgOn') %>" width="100%">
                </div>
            </div>

            <!-- Modus 0 -->
            <div class="vis-widget <%== this.data.attr('class') %>" style="width: 30px; height: 30px; left: 7px; top: 80px; z-index: 2;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <img src="<%== this.data.attr('imgMode0Off') %>" width="100%">
                </div>
            </div>

            <!-- Modus 1 -->
            <div class="vis-widget <%== this.data.attr('class') %>" style="width: 30px; height: 30px; left: 37px; top: 80px; z-index: 2;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <img src="<%== this.data.attr('imgMode1Off') %>" width="100%">
                </div>
            </div>

            <!-- Modus 2 -->
            <div class="vis-widget <%== this.data.attr('class') %>" style="width: 30px; height: 30px; left: 67px; top: 80px; z-index: 2;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <img src="<%== this.data.attr('imgMode2Off') %>" width="100%">
                </div>
            </div>

            <!-- Modus 3 -->
            <div class="vis-widget <%== this.data.attr('class') %>" style="width: 30px; height: 30px; left: 97px; top: 80px; z-index: 2;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <img src="<%== this.data.attr('imgMode3Off') %>" width="100%">
                </div>
            </div>

            <!-- Modus 4 -->
            <div class="vis-widget <%== this.data.attr('class') %>" style="width: 30px; height: 30px; left: 127px; top: 80px; z-index: 2;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <img src="<%== this.data.attr('imgMode4Off') %>" width="100%">
                </div>
            </div>

            <!-- Button Modus 0 -->
            <div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="left: 67px; top: 80px; width: 30px; height: 30px; z-index: 2; opacity: 0; display: none;">
                <div class="vis-widget-body">
                    <button style="width:100%; height:100%" data-oid="javascript.0.Heizung.Heizungsmodus" data-no-style="" data-val="0" data-ctrl-oid="javascript.0.Heizung.Heizungsmodus" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text"></span></button>
                </div>
            </div>

            <!-- Button Modus 1 -->
            <div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="left: 37px; top: 80px; width: 30px; height: 30px; z-index: 2; opacity: 0; display: none;">
                <div class="vis-widget-body">
                    <button style="width:100%; height:100%" data-oid="javascript.0.Heizung.Heizungsmodus" data-no-style="" data-val="1" data-ctrl-oid="javascript.0.Heizung.Heizungsmodus" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text"></span></button>
                </div>
            </div>

            <!-- Button Modus 2 -->
            <div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="left: 97px; top: 80px; width: 30px; height: 30px; z-index: 2; opacity: 0; display: none;">
                <div class="vis-widget-body">
                    <button style="width:100%; height:100%" data-oid="javascript.0.Heizung.Heizungsmodus" data-no-style="" data-val="2" data-ctrl-oid="javascript.0.Heizung.Heizungsmodus" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text"></span></button>
                </div>
            </div>

            <!-- Button Modus 3 -->
            <div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="left: 127px; top: 80px; width: 30px; height: 30px; z-index: 2; opacity: 0; display: none;">
                <div class="vis-widget-body">
                    <button style="width:100%; height:100%" data-oid="javascript.0.Heizung.Heizungsmodus" data-no-style="" data-val="3" data-ctrl-oid="javascript.0.Heizung.Heizungsmodus" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text"></span></button>
                </div>
            </div>

            <!-- Button Modus 4 -->
            <div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="left: 7px; top: 80px; width: 30px; height: 30px; z-index: 2; opacity: 0; display: none;">
                <div class="vis-widget-body">
                    <button style="width:100%; height:100%" data-oid="javascript.0.Heizung.Heizungsmodus" data-no-style="" data-val="4" data-ctrl-oid="javascript.0.Heizung.Heizungsmodus" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text"></span></button>
                </div>
            </div>

            <!-- 
            <div class="vis-widget <%== this.data.attr('class') %>" style="top: 44px; left: 40px; width: 74px; height: 16px; z-index: 3; text-align: right; font-size: medium; color: rgb(255, 255, 255); display: none;" id="<%= this.data.attr('wid') %>">
                <div class="vis-widget-body">
                    <div data-oid="javascript.0.Heizung.Wohnzimmer_Soll">
                        Lvl 22
                    </div>
                </div>
            </div>
            <div data-oid="javascript.0.Heizung.Wohnzimmer_Boost" class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="width: 30px; height: 30px; left: 127px; top: 80px; z-index: 2;" data-read-only="" data-min="" data-max="" data-url-true="" data-url-false="" data-oid-true="" data-oid-false="" data-oid-true-value="" data-oid-false-value="">
                <div class="vis-widget-body">
                        <img src="/vis.0/main/img/heizung/heizung-turbo-aus.png" width="100%">
                </div>
            </div>
        -->
        </div>
    </script>






<!-- 
<script id="tplVis-flexcontrolShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/vis-flexcontrol/img/vis-flexcontrol.png"></img>'
        data-vis-attrs="headerText;valIst/id;oidValSoll/id;valEinheit;valStep;"
        data-vis-attrs0="group.onoff;oidOnOff/id;imgOn/image;imgOff/image;"
        data-vis-attrs1="group.mode/byindex;oidMode1(1-5)/id;valueMode1(1-5)/number;imgMode1On(1-5)/image;imgMode1Off(1-5)/image;"
        data-vis-set="vis-flexcontrol"
        data-vis-type="Control"
        data-vis-name="Flexible Control">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:230px; height:210px;" id="<%= this.data.attr('wid') %>" >
        <div class="vis-flexcontrol-class vis-widget-body <%== this.data.attr('class') %>" style="padding:2px" >
            OID: <%= this.data.attr('oid') %><br>
            OID value: <%== vis.states[this.data.attr('oid') + '.val'] %><br>
            Color: <span style="color: <%= this.data.attr('myColor') %>"><%= this.data.attr('myColor') %></span><br>
            extraAttr: <%== this.data.attr('extraAttr') %><br>
            Browser instance: <%= vis.instance %><br>
            htmlText: <textarea readonly style="width: calc(100% - 10px)"><%== this.data.attr('htmlText') %></textarea><br>
        </div>
    </div>
</script>
-->

<!--
<script id="tplVis-flexcontrolHelper"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplVis-flexcontrolHelper" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 280px; height: 159px;" > <div class="vis-flexcontrol-class vis-widget-prev-body " style="padding:2px"> OID: hm-rpc.0.EEQ0006629.1.STATE<br> OID value: true<br> Color: <span style="color: rgb(128, 0, 0);">#800000</span><br> htmlText: <textarea readonly="" style="width:100%">asda</textarea></div>'
        data-vis-attrs="oid/id;myColor/color;htmlText/text;"
        data-vis-attrs0="group.extraVis-flexcontrol;extraAttr"
        data-vis-set="vis-flexcontrol"
        data-vis-type="helper"
        data-vis-name="Helper">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds['vis-flexcontrol'].createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>
-->
